body {
    font-family: Verdana, sans-serif;
    line-height: 1.7;
    color: #ebebeb;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: #292a2d
}

h3, h2, h1 {
    font-weight: 600;
}
.code-block {
            background: #212327;
            color: rgb(209, 241, 120);
            padding: 20px;
            border-radius: 8px;
            margin: 20px 0;
            overflow-x: auto;
            font-size: 0.95rem;
            line-height: 1.5;
        }

.code-block code {
    background: transparent; /* Убираем фон */
    padding: 0; /* Сбрасываем padding */
    border-radius: 0; /* Сбрасываем скругление */
    color: inherit; /* Наследуем цвет текста от родителя */
}

code {
    word-break: break-word;
    word-wrap: break-word;
    padding: 1px 4px 2px;
    font-size: inherit;
    line-height: 1.35em;
    border-radius: 4px;
    color: #569cd6;             
    background: #3a3b3f;
}

a {
    text-decoration: none;
    color: #9ecaff;
    margin: 3px;
}

a:hover {
    color: #008ac5;
}

nav a {
    margin: 5px;
}

.window-block {
    width: auto;
    background: #212327;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.window-header {
            background: #005fb8;
            color: white;
            padding: 10px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            font-weight: 500;
}

.window-icon {
            display: flex;
            gap: 12px;
}

.window-icon span {
        cursor: default;
        font-size: 16px;
}

.тире-list {
    list-style-type: '— ';
}

.section-in-windowBlock {
    padding: 1em 1em 1em 2em;
}

.html-tag {
            color: #569cd6; /* Синий цвет для тегов */
}

.html-attr {
    color: #9cdcfe; /* Голубой цвет для атрибутов */
}

.html-value {
    color: #ce9178; /* Коричневый цвет для значений */
}
.css-property {
    color: #9cdcfe; /* Голубой цвет для свойств */
}

.css-value {
    color: #ce9178; /* Коричневый цвет для значений */
}

ol {
    margin-left: 2em;
    line-height: 1.7;
}

li {
    margin-bottom: 0.5em;
}

a[href="#"] {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 20px;
    font-weight: bold;
    border: solid 1px;
    border-radius: 10px;
}

a[href="#"]:hover {
    background-color: #2f302b;
}

.helpful_links {
    margin: 0;
    padding: 0;
}